input, textarea {
  border: 1px solid #2B2F33;
  border-radius: .5rem;
  appearance: none;
}

form {
  margin-top: 3rem;
  margin-inline: 8.125rem;
}

fieldset {
  border: none;
}

legend {
  font: 700 1.125rem "Baloo 2";
  color: var(--text-heading);
}

label {
  font: 400 .875rem "Open Sans";
  color: var(--text-body);
}

input::placeholder {
  font: 400 1rem "Open Sans";
  padding-block: 0.8rem ;
  padding-left: 1rem;
  color: var(--input-placeholder);
}

input[type="datetime-local"] {
  font: 400 1rem "Open Sans";
  color: var(--input-placeholder);
  padding-block: 0.8rem ;
  padding-left: 1rem;
  text-transform: uppercase;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 2rem;
    right: 0;
    background-color:var(--input-base);
  }
}