input, textarea {
  border: 1px solid #2B2F33;
  border-radius: .5rem;
}

.input-wrapper {
  & input {
  appearance: none;
  }
}

form {
  margin-top: 3rem;
  margin-inline: 8.125rem;
}

fieldset {
  border: none;
}

legend {
  font: 700 1.125rem "Baloo 2";
  color: var(--text-heading);
}

.about-event {
  display: grid;
  /* ARRUMAR ESSE GAP */
  gap: 1.5rem;
  /* Usar Grid area nas divs */
  grid-column: 1fr 1fr;

}

.about-event input, textarea {
  background-color: var(--input-base);
  /* Corrigir a cor do outline */
  outline-color: #e22a2a;
  outline-offset: 0.1rem;
}

label {
  font: 400 .875rem;
  color: var(--text-body);
}

input::placeholder {
  color: var(--input-placeholder);
}