#app {
    display: grid;
    grid-template-columns: 32.8% 67.2%;
    
    overflow: hidden;
}

aside {

    padding: 2rem 2rem 34.5rem 2rem;
    overflow: hidden;

    background: url(../assets/images/Background.png) no-repeat center;
    background-size: 100% 100%;
    min-height: 100vh;
    
    & .aside-container {
        max-width: 21rem;
        margin-left: auto;
    }

}

.aside-text > h1 {
    font: 400 2.5rem "Leckerli One";
    color: var(--pink);
}

.aside-text > p {
    font: 300 1rem "Open Sans";
    color: var(--text-heading)
}

main {
    background-color: var(--shape-body);
    overflow: auto;
    height: 100vh;

    & .main-container {
        margin-right: auto;
        display: flex;
        flex-direction: column;

        & .title {
            margin-top: 5rem;
            margin-inline: 8.125rem;
            max-width: 35rem;
            font: 600 1rem "Baloo 2";
            color: var(--text-heading);
        }
    }
}